.insta{
background:linear-gradient(to top , #feda75, #fa7e1e, #d62976, #962fbf , #4f5bd5) ;
color: white;
padding: 6px;
border-radius: 13px;
}

.twitter{
color: white;
background: #00acee;
padding: 6px;
border-radius: 13px;
}

.youtube{
color: red;
background: white;
padding: 6px;
border-radius: 13px;
}

.facebook{
color: blue;
background: white;
padding: 5px;
border-radius: 13px;
}

.contact-forms{
    margin-left: 175px;
}

.form-contact-button{
    width: 630px; 
    border: none; 
    border-radius: 3px;
}


@media screen and (max-width:700px) {
    body{
        height: 155.5vh;
    }
    .contact-forms{
        margin-left: -10px;
    }
    .form-contact-button{
        width: 371px;
    }
  .info-contact-stuff{
    margin-left: 30px;
  }
}